
/* 1338px */
@media (max-width: 84rem) {
    html {
        font-size: 56.25%;
    }
}

/* 1214px */
@media (max-width:76em) {
    .img-gallery {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
}

/*1086 px */
@media (max-width: 68em) {

}

/* 1002px */
@media (max-width: 63em) {
    #testimonals-gallery-section {
        grid-template-columns: 1fr;
    }

    .img-gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fill);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .gallery-img-div {
        width: 100%;
        height: 100%;
    }

    .footer-item {
        font-size: 1.6rem;
        padding: 0;
    }
}

/* 920 px */
@media (max-width: 67em) {
    .feature-section {
        font-size: 1.7rem;
    }

    .feature-section p:first-of-type {
        font-size: 2rem;
    }
}

/* 778 px */
@media (max-width: 49rem) {
    .recipe-section-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .pricing-options {
        flex-direction: column;
    }

    .testimonals-grid-cont {
        grid-template-columns: 1fr;
    }

    .feature-grid {
        grid-template-columns: 1fr 1fr;
    }

    .form-section {
       flex-direction: column;
    }

    .review {
        max-width: 40rem;
    }
}

@media (max-width: 44rem) {
    html {
        font-size: 50%;
    }

    .brand-logos img {
        max-width: 10rem;
    }
}

@media (max-width: 39.5rem) {
    .menu-btn {
        font-size: 1.7rem;
    }

    .hero-section h1 {
        font-size: 3rem;
        text-align: left;
    }

    .hero-section p {
        text-align: left;
    }

    .steps {
        flex-direction: column;
    }

    .footer-section {
        grid-template-columns: repeat(3, 1fr);
    }
}