/*1326px*/

@media (max-width: 82.875em) {
    html {
        font-size: 56.25%;
    }

    .hero-section h1 {
        font-size: 5rem;
    }
}

/*1140px*/
@media (max-width: 71.25em) {
    .recipe-type {
        flex-direction: column;
        gap: 0;
    }

    .img-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/*1026px*/
@media (max-width: 64.13em) {
    .feature-grid {
        padding: 10px 5px;
    }

    .form-under {
        grid-template-columns: 1fr;
    }

    .form-under input {
        margin-bottom: 0;
    }

    .formInput-section button {
        margin-bottom: 20px;
    }
}

/*937px*/
@media (max-width: 58.6em) {
    .recipe-section-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }

    .feature-item {
        padding: 6px;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
    }
}

/*888px*/
@media (max-width: 55.5rem) {
    .pricing-options {
        flex-direction: column;
        justify-self: center;
    }

    .form-under button {
        margin-top: 0px;
    }

    .form-input {
        padding: 0 0 0 20px;
    }
}

/* 738px*/
@media (max-width: 46.13em) {
    html {
        font-size: 43.75%;
    }

    .recipe-section-grid {
        grid-template-columns: 1fr;
        justify-self: center;
    }

    .img-gallery {
        grid-template-columns: repeat(6, 1fr);
        margin-top: 20px;
    }

    #testimonals-gallery-section {
        display: block;
        padding: 15px 15px;
    }

    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-section {
        flex-direction: column;
    }

    .form-img {
        order: 1;
    }

    .form-input {
        order: 2;
        width: 90%;
    }

    .footer-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*611px*/
@media (max-width:38.2rem) {
    .brands-section {
        padding: 60px 20px;
    }

    .recipe-section-grid {
        padding: 35px 10px;
    }
}

/*463px*/
@media (max-width: 29em) {
    .steps {
        flex-direction: column;
        justify-self: center;
        margin: 10px;
    }

    .hero-section h1 {
        font-size: 3rem;
    }

    .hero-section p {
        font-size: 2rem;
    }
}