* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", serif;
    font-weight: Regular 400;
    font-style: normal;
}

body > :nth-child(1) {
    background-color: #f3efea;
    padding: 5px;
}

html {
    /*10px*/
    font-size: 62.5%;
}

/*******************************/
/**********HEADER**************/
/*****************************/

.header {
    display: flex;
    justify-content: space-between;
    max-width: 150rem;
    padding: 35px 60px;
    background-color: #f3efea;
}
nav {
    display: flex;
    gap: 10px;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #26547C;
    font-weight: bold;
}

/******************************/
/**********HERO SECTION*******/
/*****************************/

.omnifood-logo {
    width: 15rem;
}

.image-wrapper {
    max-width: 6rem;
    margin-left: -15px;
}

.image-wrapper img {
    max-width: 100%;
    border-radius: 100%;
}

.hero-img-container {
    max-width: 60rem;
}

.hero-img {
    width:100%;
}

.our-customers {
    display: flex;
    gap: 30px;
    align-items :center;
}

.our-customers span {
    font-weight: bold;
} 

.image-container {
    display: flex;
}

.hero-section {
    max-width: 150rem;
    display: flex;
    justify-content: space-between;
    padding: 35px 60px;
    background-color: #f3efea;
}

.hero-content {
    max-width: 75rem;
}

.hero-content h1 {
    font-size: 6rem;
    margin-bottom: 3rem;
}

.hero-content p {
    font-size: 2.8rem;
}

.smiles-paragraph {
    font-size: 1rem;
}

.herobuttons-container {
    display: flex;
    gap: 30px;
}

.hero-btn {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 3rem 0 3rem 0;
    border: 1px solid #000000;
    width: 20rem;
}

.herobuttons-container .btn1 {
    background-color:#ffd166e3;
    border: none;
    color: #000;
}

.herobuttons-container .btn2 {
    background-color: #f3efea;
    border: 2px solid #000;
}

.herobuttons-container .btn1:hover {
    background-color:#ffd166;
    border: 2px solid #fff;
}

.herobuttons-container .btn2:hover {
    border: 2px solid #ffffff;
}


/********************/
/******BRANDS*******/
/*******************/

.logo-wrapper {
    max-width: 10rem;
}

.brand-logos img {
    width: 100%;
}

.brand-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands-section {
    padding: 60px;
}

.brands-section h5 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

/**********************/
/******HOW TO ORDER****/
/**********************/

#how-to-order {
    max-width: 100rem;
    margin: 0 auto;
}

#how-to-order h3 {
    font-size: 2rem;
}

#how-to-order h2 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0 3rem 0;
}

.appscreen-wrapper {
    max-width: 23rem;
    height: auto;
}

.appscreen-wrapper img {
    width: 100%;
}

.steps {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.steps-content {
    max-width: 28rem;
    line-height: 1.5;
}

.steps-content h4 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.steps-content p {
    font-size: 2rem;
}

.steps-content span {
    font-size: 7rem;
}

.step-2 .steps-content {
    order: 2;
}

/************************/
/*********RECIPES********/
/***********************/
.recipe-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 35px 60px;
}

.recipe {
    max-width: 35rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
}

.recipe:hover {
    transform: scale(1.02);
}

.recipe img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.recipe p {
    font-size: 2rem;
    margin-left: 15px;
}

.recipe h5 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 15px;
}

.recipe-type {
    display: flex;
    gap: 15px;
}

.recipe-categ {
    width: 120px;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #41D3BD;
}

.recipe-description {
    padding: 10px;
}

.recipe-description p {
    margin-bottom: 15px;
    margin-left: 20px;
}

.recipe-description .fa-solid {
    margin-right: 10px;
    color:#26547C;
}

#ai-recipes {
    padding: 20px 60px;
}

#ai-recipes h3 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#ai-recipes h4 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.diets h5 {
    font-size :3rem;
    margin-bottom: 10px;
}

.diets ul {
    list-style-type: none;
    font-size: 2rem;
    line-height: 1.5;
}

.diets {
    padding: 0px 20px;
}

.diets .fa-solid {
    margin-left: 20px;
    margin-right: 10px;
    color: #26547C;
}

.all-recipes-link {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 12px 0px;
    text-decoration: none;
    color: #26547C;
}

/*************************/
/******TESTIMONALS*******/
/************************/

.review img {
    width: 100%;
    border-radius: 100%;
}

.review p {
    font-size: 2rem;
    max-width: 220px;
}

.testimonalImg-wrapper {
    max-width: 10rem;
}

.testimonals-grid-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 25px;
}

.testimonals span {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.testimonals h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

/*********************************/
/************IMAGE GALLERY*******/
/********************************/
.gallery-img-div {
   max-width: 50rem;
   max-height: 50rem;
   overflow: hidden;
   position: relative;
}

.img-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.img-gallery img:hover {
    transform:scale(1.2);
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#testimonals-gallery-section {
    display: flex;
    padding: 20px 60px;
}

/***********************/
/******PRICING*********/
/**********************/
.pricing-options {
    display: flex;
    gap: 6rem;
    justify-content: center;
    font-size: 2.8rem;
    padding: 40px;
}

.pricing-options p {
    font-size: 2.5rem;
}

.pricing-option {
    max-width: 40rem;
    border-radius: 5px;
    background-color: #f3efea;
    padding: 40px 45px;
    line-height: 1.5;
}

.pricing-option ul li {
    font-size: 2rem;
    list-style-type: none;
}

.pricing-option ul {
    padding: 10px;
}

.pricing-option span {
    font-size: 7rem;
}

.order-btn {
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 2rem;
    border: none;
}

.option-1 button {
    background-color: #1B5E20;
    color: #FFFFFF;
}
.option-2 button {
    background-color: #4E342E;
    color: #FFD700;
}

.order-btn:hover {
    background-color: #26547C;
    border: 1px solid #26547c;
    color: whitesmoke;
}

#pricing p:first-of-type {
    font-size: 2.4rem;
    font-weight: bold;
}

#pricing h2 {
    font-size: 4rem;
}

.pricing-options .option-1 {
    background-color: #E8F5E9;
    color: #2E7D32;
}

.pricing-options .option-2 {
    background-color: #FFD700;
    color: #6D4C41;
}

.pricing-options .fa-solid {
    color: #26547C;
}

/**********************/
/******FEATURES********/
/**********************/

.feature-item {
    padding: 20px;
}

.feature-item h4 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.feature-item .fa-solid {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #06D6A0;
}
.feature-section {
    font-size: 2rem;
    padding: 20px 25px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 60px;
    gap: 3rem;
}

.feature-section p {
    font-size: 2rem;
}

.feature-section p:nth-child(1) {
    text-align: left;
    margin-left: 15px;
}

/********************/
/*******FORM*********/
/********************/

.form-input h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.form-input p {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.form-input {
    padding: 50px 50px 0 50px;
    width: 60%;
}

.form-under {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.form-under input {
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 2rem;
    border: 2px solid #ffffff;
    font-size: 2rem;
}

.form-section {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    background-color:#ffd166;
    border-radius: 12px;
    overflow: hidden;
}

.form-under select {
    padding: 17px 18px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    font-size: 2rem;
}

.form-under button {
    font-size: 2rem;
    padding: 13px 18px;
    border-radius: 8px;
    margin-top: 2.8rem;
    border: 2px solid #ffffff;
}

.form-under button:hover {
    background-color:#ffd166;
}

.formImg-wrapper {
    width: 65rem;
}

.form-img {
    max-width:100%;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.formInput-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.formInput-section label {
    font-size: 2rem;
}

/*********************/
/*****FOOTER**********/
/********************/

.footer-section {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px 30px;
}

.footer-item p {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #a09494;
}

.footer-item a:link {
    font-size :1.7rem;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #a09494;
}

.footer-item a:visited {
    color: #a09494;
}

.footer-item a:hover {
    color:#EF476F;
}

.footer-item h5 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.address {
    width: 15rem;
}

.social-links {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
    font-size: 2rem;
}


.hamburger {
    width: 30px;
    height: 30px;
    display: none;
    position: fixed;
    z-index: 15;
}
.hamburger:hover {
    cursor: pointer;
}

.close {
    width: 30px;
    height: 30px;
    display: none;
}
.close:hover {
    cursor: pointer;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
